.officeDetail.ng-hide-remove {
    animation: fadeIn 1s;
}

.validationError {
    color: red;
    font-style: italic;
}

.validationError.ng-hide-remove {
    animation: zoomIn 0.4s;
}

.validationError.ng-hide-add {
    animation: zoomOut 1s;
}

#EmployeeTable {
    width: 800px;
    height: 400px;
}

.ui-grid-row:hover div {
    background-color: aqua !important;
}

.ng-invalid.ng-dirty {
    border-color: red;
}

.submitted button {
    background-color: bisque;
    background-image: none;
}

.submitted button.active {
    background-color: burlywood !important;
}
