<script type="text/ng-template" id="aboutPopup.html">
    <div ng-controller="AboutController as About">
        <div class="modal-header">
            <h3 class="modal-title">About</h3>
        </div>
        <div class="modal-body">
            <a href="http://localhost:46464/Scripts/UnitTests/SpecRunner.html">View unit tests for this project.</a>
            <div>
                {{About.buildNumber}}
            </div>
        </div>
    </div>
</script>
