<div ng-controller="EmployeeOverviewController as Overview">
    <h1>Employee Overview - {{Overview.selectedDetail}}</h1>

    <div ui-grid="Overview.gridOptions" ui-grid-selection id="EmployeeTable"></div>
</div>
